.title_layout {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.title_style {
	font-weight: 500;
	font-size: 36px;
	z-index: 10;
}
.image_style {
	overflow: hidden;
	position: absolute;
	top: 0;
	object-fit: contain;
	width: 100%;
	height: 300px;
	opacity: 0.2;
}
.content_layout {
	display: flex;
	flex-direction: column;
	max-width: 768px;
	margin: 50px auto;
	word-break: break-all;

	line-height: 1.8;
	font-size: 16px;
	font-weight: 400;

	pre[class*="language-"] {
		margin: 30px 0;
		padding: 15px;
		font-size: 15px;

		::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.5);
			border-radius: 3px;
		}
	}

	code[class*="language-"],
	pre[class*="language-"] {
		tab-size: 2;
	}
}

.content_layout > h1 {
	font-size: 30px;
	margin: 14px 0;
}
.content_layout > h2 {
	font-size: 24px;
	margin: 14px 0;
}
.content_layout > h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 14px 0;
}
.content_layout > a {
	color: #4263eb;
	text-decoration: underline;
}

@media (max-width: 768px) {
	.content_layout {
		min-width: 343px;
		margin: 0 auto;
		padding: 80px 20px;
		line-height: 1.6;
		/* font-size: 14px; */
	}
}
